body {
  font-family: "SF Pro Text", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  user-select: none;
  -webkit-user-drag: none;
  background-image: url("../images/background.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  transform: translateZ(0);
}

.card {
  flex: 0 0 calc(33.33% - 20px);
  transform: translateZ(0);
  width: 100%;
  max-width: 300px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.1);
  transition: transform 0.25s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 20px;
  border: 1px solid transparent;
}


.card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.card h3 {
  font-size: 18px;
  font-weight: bolder;
  margin: 0;
}

.card p {
  font-size: 14px;
  color: #666;
  margin: 0;
}

.card .tonalidad {
  margin-top: 10px;
  font-size: 12px;
  color: #555;
}

.card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.search-box {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  border-radius: 4px;
  padding: 5px;
}

.search-box input {
  width: 200px;
  padding: 8px;
  font-size: 14px;
  border: none;
  border-radius: 15px;
  background-color: #f5f5f5;
  outline: none;
}

.add-button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.add-button button {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 3rem;
  cursor: pointer;
}

.add-button button:hover {
  background-color: #45a049;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}

.header img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
}

.header img:hover {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .card {
    flex-basis: 100%;
    max-width: 100%;
  }

  .search-box {
    width: 100%;
  }

  .search-box input {
    width: 100%;
  }

  .add-button {
    width: 100%;
  }

  .card-container {
    margin-left: 0;
    margin-right: 0;
  }
}